<h1 class="section-title">Fiches Pratiques</h1>

<% @fiche_pratiques.each do |fiche| %>
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-4">
      <div class="thumbnail actu">
        <p class="titre-actu"><%= fiche.title%></p>
        <p class="timestamp actu">
          <%= l fiche.created_at, format: :only_date %>
        </p>

        <% if fiche.fichier.present? %>
          <div class="link_or_image">
            <%= display_link_or_image_of(fiche) %>
          </div>
        <% end %>

        <div class="manifestation-desc">
          <%= raw(truncate_html(fiche.content, length: 100, omission: '...')) %>
        </div>

        <div class="link-box">
          <%= link_to "Voir", fiche %>
          <% if can? :update, fiche %>
            <%= link_to 'Modifier', edit_information_path(fiche) %>
            <%= link_to 'Supprimer', fiche, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <% if can? :update, FichePratique %>
    <%= link_to "Ajouter une fiche pratique", new_fiche_pratique_path(), class: 'btn btn-success btn-sm box-aligned' %>
  <% end %>
</div>
