<%= render :partial => "shared/flash_messages" %>

<h1 class="section-title"><%= @fiche_pratique.title %> </h1>

<%= raw @fiche_pratique.content %>

<p>
  <b>Lien:</b>
  <%= link_to @fiche_pratique.external_link, @fiche_pratique.external_link, target: '_blank' %>
</p>

<p><%= link_or_image_of(@fiche_pratique) %></p>


<% if current_user %>
  <%= link_to 'Modifier', edit_fiche_pratique_path(@fiche_pratique), class: 'btn btn-warning btn-sm' %> 
<% end %>
<%= link_to 'Retour', fiche_pratiques_path, class: 'btn btn-primary btn-sm' %>
