<div class="span-16">
    <%= render :partial => "shared/flash_messages" %>
    
    <h1>Listing messages</h1>

    <table class="table table-striped">
      <tr>
        <th>Nom</th>
        <th>Prenom</th>
        <th></th>
      </tr>

    <% @messages.each do |message| %>
      <tr>
        <td><%= message.nom %></td>
        <td><%= message.prenom %></td>
        <td><%= link_to 'Supprimer', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>

    <br />

    <%= link_to 'New Message', new_message_path %>
</div>
