<p id="notice"><%= notice %></p>

<p>
  <b>Nom:</b>
  <%= @message.nom %>
</p>

<p>
  <b>Prenom:</b>
  <%= @message.prenom %>
</p>

<p>
  <b>Telephone:</b>
  <%= @message.telephone %>
</p>

<p>
  <b>Administration:</b>
  <%= @message.administration %>
</p>

<p>
  <b>Portable:</b>
  <%= @message.portable %>
</p>

<p>
  <b>Email:</b>
  <%= @message.email %>
</p>

<p>
  <b>Demande:</b>
  <%= @message.demande %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
