<div class="span-16">
	<h1>Modifier Info Partenaire</h1>

	<% form_for(@partenaire, :html => {:multipart => true}) do |f| %>
	  <%= f.error_messages %>

		<%= render :partial => 'form', :locals => {:f => f} %>
	  <p>
	    <%= f.submit 'Modifier' %>
	  </p>
	<% end %>

	<%= link_to 'Voir', @partenaire %> |
	<%= link_to 'Retour', partenaires_path %>
</div>
<!-- Right Sidebar -->
<div class="span-4 last">
	<%= render :partial => "shared/right_col" %>
</div>
