<div class="span-16">
	<h1 class="section-title">Modifier Info Partenaire</h1>

	<%= form_for(@partenaire, :html => {:multipart => true}) do |f| %>
	  	<%= render :partial => 'shared/form_errors', :locals => {:object => @partenaire} %>

		<%= render :partial => 'form', :locals => {:f => f} %>
	  	
	  	<p><%= f.submit 'Modifier', class: 'btn' %></p>
	<% end %>

	<%= link_to 'Voir', @partenaire, :class => "btn btn-sm btn-success" %>
	<%= link_to 'Retour', partenaires_path, :class => "btn btn-sm" %>
</div>