<div class="span-16">
	<%= render :partial => "shared/flash_messages" %>	
	
	<h1>Nos partenaires</h1>

	<table>
	<% @partenaires.each do |partenaire| %>
	  <tr>
		<td><%= image_tag(partenaire.logo.url(:thumb)) if image_present?(partenaire) %></td>
	    <td><%=h partenaire.nom %></td>
	    <td><%=h partenaire.description %></td>
	    <td><%= link_to 'Voir', partenaire %></td>
	<% if current_user %>
	    <td><%= link_to 'Modifier', edit_partenaire_path(partenaire) %></td>
	    <td><%= link_to 'Supprimer', partenaire, :confirm => 'En êtes vous sur?', :method => :delete %></td>
	<% end %>
	  </tr>
	<% end %>
	</table>

	<br />
<% if current_user %>
	<%= link_to 'Ajouter partenaire', new_partenaire_path %>
<% end %>
</div>
<!-- Right Sidebar -->
<div class="span-4 last">
	<%= render :partial => "shared/right_col" %>
</div>
