<div class="span-16">
	<%= render :partial => "shared/flash_messages" %>	
	
	<h1>Listing partenaires</h1>

	<table>
	  <tr>
	    <th>Nom</th>
	    <th>Description</th>
	  </tr>

	<% @partenaires.each do |partenaire| %>
	  <tr>
	    <td><%=h partenaire.nom %></td>
	    <td><%=h partenaire.description %></td>
	    <td><%= link_to 'Voir', partenaire %></td>
	<% if current_user %>
	    <td><%= link_to 'Modifier', edit_partenaire_path(partenaire) %></td>
	    <td><%= link_to 'Supprimer', partenaire, :confirm => 'En êtes vous sur?', :method => :delete %></td>
	<% end %>
	  </tr>
	<% end %>
	</table>

	<br />

	<%= link_to 'Ajouter partenaire', new_partenaire_path %>
</div>
<!-- Right Sidebar -->
<div class="span-4 last">
	<%= render :partial => "shared/right_col" %>
</div>
