<div class="span-16">
	<%= render :partial => "shared/flash_messages" %>	
	
	<h1>Nos partenaires</h1>

  <% @partenaires.each do |group_by_category| %>
    
    <p class="category_name">Partenaire <%= Category.find(group_by_category[0]).nom %></p>
    
    <% group_by_category[1].each do |partenaire| %>
      <div class="partenaire">
        <p class="partenaire_logo">
          <% if image_present?(partenaire) %>
            <%= link_to(image_tag(partenaire.logo.url(:thumb)), partenaire.logo_link)  %>
          <% else %>
            <%= link_to(partenaire.link, partenaire.logo_link) unless partenaire.logo_link.blank? %>
          <% end %>
        </p>
        <p class="partenaire_description">
          <span class="partenaire_nom"><%=h partenaire.nom %></span><br/>
          <%= partenaire.description %>
        </p>
        <p class="partenaire_link">
          <%= link_to(partenaire.link, partenaire.link) unless partenaire.link.blank? %>
        </p>
        <% if current_user %>
          <p>
            <%= link_to 'Modifier', edit_partenaire_path(partenaire), :class => "button small" %>
            <%= link_to 'Supprimer', partenaire, :confirm => 'En êtes vous sur?', :method => :delete, :class => "button small" %> <%= link_to "Enregistrer une offre", new_partenaire_offre_path(partenaire), :class => "button small midmedium" %>
          </p>
        <% end %>
      
        <div class="part_offres">
          <p>Bénéficiez des offres privilégiées de ce partenaire !</p>
        
          <% partenaire.offres.each do |offre| %>
            <div class="offre">
              <p>
                <%= link_to offre.nom, partenaire_offre_path(partenaire.id, offre), :class => "offre_link" %> - Du <%= offre.date_debut  %> Au <%= offre.date_fin %><br/>
                <%= offre.description %>
              </p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    
    <hr/>
    
  <% end %>

	<br />
<% if current_user %>
	<%= link_to 'Ajouter partenaire', new_partenaire_path, :class => "button small midmedium" %>
<% end %>
</div>
<!-- Right Sidebar -->
<div class="span-4 last">
	<%= render :partial => "shared/right_col" %>
</div>
