<h1 class="section-title">Partenaire : <%= @partenaire.nom %></h1>

<div class="span-16">
	<p>
	  <b>Nom:</b>
	  <%= @partenaire.nom %>
	</p>

	<p>
	  <b>Description:</b>
	  <%= @partenaire.description %>
	</p>

	<%= link_to 'Modifier', edit_partenaire_path(@partenaire), :class => "button small" %>
	<%= link_to 'Retour', partenaires_path, :class => "button small" %>
</div>
