<div class="span-16">
	<h1>Modifier un Lien</h1>

	<% form_for(@lien) do |f| %>
	  <%= f.error_messages %>

		<%= render :partial => 'form', :locals => {:f => f} %>

	  <p>
	    <%= f.submit 'Modifier' %>
	  </p>
	<% end %>

	<%= link_to 'Voir', @lien %> |
	<%= link_to 'Retour', liens_path %>
</div>
<!-- Right Sidebar -->
<div class="span-4 last">
	<%= render :partial => "shared/right_col" %>
</div>