<div class="span-16">
	<h1 class="section-title">Modifier un Lien</h1>

	<%= form_for(@lien) do |f| %>
		<%= render :partial => 'shared/form_errors', :locals => {:object => @lien} %>

		<%= render :partial => 'form', :locals => {:f => f} %>

	  <p>
	    <%= f.submit 'Modifier' %>
	  </p>
	<% end %>

	<%= link_to 'Voir', @lien, :class => "btn btn-sm btn-success" %> |
	<%= link_to 'Retour', liens_path, :class => "btn btn-sm" %>
</div>