<h1>Listing liens</h1>

<table>
  <tr>
    <th>Nom</th>
    <th>Adresse</th>
  </tr>

<% @liens.each do |lien| %>
  <tr>
    <td><%=h lien.nom %></td>
    <td><%=h lien.adresse %></td>
    <td><%= link_to 'Show', lien %></td>
    <td><%= link_to 'Edit', edit_lien_path(lien) %></td>
    <td><%= link_to 'Destroy', lien, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New lien', new_lien_path %>