<div class="span-16">
	<h1>Nos liens</h1>

	<table>
	  <tr>
	    <th>Nom</th>
	    <th>Adresse</th>
	  </tr>

	<% @liens.each do |lien| %>
	  <tr>
	    <td><%= lien.nom %></td>
	    <td><%= link_to lien.adresse, lien.adresse %></td>
	    <td><%= link_to 'Voir', lien, :class => "button small" %></td>
		<% if current_user %>
	    <td><%= link_to 'Modifier', edit_lien_path(lien), :class => "button small" %></td>
	    <td><%= link_to 'Supprimer', lien, :confirm => 'Are you sure?', :method => :delete, :class => "button small" %></td>
		<% end %>
	  </tr>
	<% end %>
	</table>

	<br />
<% if current_user %>
	<p><%= link_to 'Ajouter lien', new_lien_path, :class => "button small midmedium" %></p>
<% end %>
</div>
<!-- Right Sidebar -->
<div class="span-4 last">
	<%= render :partial => "shared/right_col" %>
</div>
