<div class="span-16">
	<p>
	  <b>Nom:</b>
	  <%= @lien.nom %>
	</p>

	<p>
	  <b>Adresse:</b>
	  <%= @lien.adresse %>
	</p>

<% if current_user %>
	<%= link_to 'Modifier', edit_lien_path(@lien) %> |
<% end %>
	<%= link_to 'Retour', liens_path %>
</div>
<!-- Right Sidebar -->
<div class="span-4 last">
	<%= render :partial => "shared/right_col" %>
</div>