  <p>
    <%= f.label :titre %><br />
    <%= f.text_field :titre %>
  </p>
  <p>
  	<%= f.label :numero, "Numero" %><br/>
	<%= f.text_field :numero %>
  </p>
  <p>
    <%= f.label :sommaire %><br />
    <%= f.text_area :sommaire, :class =>"mceEditor" %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content, :class =>"mceEditor" %>
  </p>
  <p>
  	<%= f.label :file, "Fichier" %><br/>
	<%= f.file_field :file %>
  </p>
