<% render :partial => "shared/tinymce_init" %>

<div class="span-16">
	<h1>Modification Newsletter</h1>

	<%= form_for(@newsletter, :html => {:multipart => true}) do |f| %>
	  	<%= render :partial => 'shared/form_errors', :locals => {:object => @newsletter} %>

		<%= render :partial => 'form', :locals => {:f => f} %>
	  <p>
	    <%= f.submit 'Modifier' %>
	  </p>
	<% end %>

	<%= link_to 'Voir', @newsletter, :class => "button small" %>
	<%= link_to 'Retour', newsletters_path, :class => "button small" %>
</div>