<div class="span-16">
	<%= render :partial => "shared/flash_messages" %>
	
	<h1>Listing newsletters</h1>

	<table>
	  <tr>
	    <th>Titre</th>
	    <th>Sommaire</th>
		<th>Envoyé le </th>
	  </tr>

	<% @newsletters.each do |newsletter| %>
	  <tr>
	    <td><%=h newsletter.titre %></td>
	    <td><%=h newsletter.sommaire %></td>
		<td><%= h newsletter.delivered_at %></td>
	    <td><%= link_to 'Voir', newsletter %></td>
		<td><%= link_to "Envoyer", deliver_newsletter_path(newsletter) %></td>
	    <td><%= link_to 'Modifier', edit_newsletter_path(newsletter) %></td>
	    <td><%= link_to 'Supprimer', newsletter, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
	</table>

	<br />

	<%= link_to 'Créer newsletter', new_newsletter_path %>
</div>
<div class="span-4 last">
	<%= render :partial => "shared/right_col" %>
</div>