<div class="span-16">
	<h1>Rédaction Newsletter</h1>

	<% form_for(@newsletter) do |f| %>
	  <%= f.error_messages %>

		<%= render :partial => 'form', :locals => {:f => f} %>

	  <p>
	    <%= f.submit 'Enregistrer' %>
	  </p>
	<% end %>

	<%= link_to 'Retour', newsletters_path %>
</div>
<div class="span-4 last">
	<%= render :partial => "shared/right_col" %>
</div>