<div class="span-16">
	<h3><%=h @newsletter.titre %> - numéro : <%= h @newsletter.numero %></h3>
	<p>
	  <b>Sommaire:</b>
	  <%=h @newsletter.sommaire %>
	</p>

	<p>
	  <b>Content:</b>
	  <%=h @newsletter.content %>
	</p>

	<p>
	  <b>Preview:</b>
	  <%=h @newsletter.preview %>
	</p>


	<%= link_to 'Modifier', edit_newsletter_path(@newsletter) %> |
	<%= link_to 'Retour', newsletters_path %>
</div>
<!-- Right Sidebar -->
<div class="span-4 last">
	<%= render :partial => "shared/right_col" %>
</div>
