<div class="span-16">
	<h3><%= @newsletter.titre %> - numéro : <%= @newsletter.numero %></h3>
	<p>
	  <b>Sommaire:</b>
	  <%=raw @newsletter.sommaire %>
	</p>

	<p>
	  <b>Content:</b>
	  <%=raw @newsletter.content %>
	</p>

	<p>
	  <b>Preview:</b>
	  <%=raw @newsletter.preview %>
	</p>


	<%= link_to 'Modifier', edit_newsletter_path(@newsletter), :class => "button small" %> |
	<%= link_to 'Retour', newsletters_path, :class => "button small" %>
</div>
