<div class="span-16">
	<%= render :partial => "shared/flash_messages" %>	
	
	<p>
	  <b>Login:</b>
	  <%=h @user.login %>
	</p>

	<p>
	  <b>Nombre de connexion:</b>
	  <%=h @user.login_count %>
	</p>

	<p>
	  <b>Dernière connexion:</b>
	  <%=h @user.last_login_at %>
	</p>

	<p>
	  <b>Connecté le:</b>
	  <%=h @user.current_login_at %>
	</p>

	<p>
	  <b>Dernière IP de connexion:</b>
	  <%=h @user.last_login_ip %>
	</p>

	<p>
	  <b>IP actuel:</b>
	  <%=h @user.current_login_ip %>
	</p>


	<%= link_to 'Modifier', edit_account_path %>
	<% if can? :manage, @user %>
	 | <%= link_to "Créer nouveau compte", new_user_path() %>
	<% end %>
</div>
<!-- Right Sidebar -->
<div class="span-4 last">
	<%= render :partial => "shared/right_col" %>
</div>
