<% content_for :head do %>
	<%= javascript_include_tag 'builder', 'lightbox' %>
	<%= stylesheet_link_tag 'lightbox' %>
<% end %>

<% unless annonces_courantes.empty? %>
  <div id="annonces" style="display:none">
  
  	<% for annonce in annonces_courantes %>
  	  <div class="annonce">	    
  	    
  	    <% unless missing_annonce_image(annonce) %>
    	    <p class="annonce_image">
    	      <%= link_to image_tag(annonce.image.url(:thumb)), annonce.image.url(:medium), {:rel => "lightbox"} %>
    	      <%# image_tag(annonce.image.url(:thumb)) %>
    	    </p>
  	    <% end %>
  	    
  	    <p class="annonce_texte"><%= annonce.message %></p>
  	  </div>
  	<% end %>
	
  	<div class="masquer_annonce"><%= link_to_remote "Masquer", :url => masquerannonce_url() %></div>
		
  </div>
<% end %>