<div class="coda-slider-wrapper">
  <div class="coda-slider preload" id="coda-slider-1">
    <!-- Actions as annonce -->
    <%- unless @action_as_annonces.empty? -%>
      <% for action in @action_as_annonces %>
        <div class="panel">
          <div class="panel-wrapper">
            <% unless action.illustration.nil? %>
              <p class="annonce-image">
                <%= image_tag action.illustration.url(:thumb) unless missing_manif_illustration(action) %>
              </p>
            <% end %>
            <p class="annonce-texte">
              <%= link_to(raw(action.nom), uneaction_path(action.id), :class => "nom") %><br/>
              <span class="lieu-date">
                <%= action.lieu %> du <%=l action.date_debut, :format => :default %> au <%=l action.date_fin, :format => :default %>    
              </span>
                        
              <p><%= link_to "voir ...", uneaction_path(action.id), :class => "button small" %></p>
            </p>
          </div>
        </div>
      <% end %>
    <%- end -%>
    <!-- Annonces -->
    <%- unless annonces_courantes.empty? -%>
      <% for annonce in annonces_courantes %>
        <div class="panel">
          <div class="panel-wrapper">
            <% unless annonce.image.nil? %>
              <p class="annonce-image">
                <%= image_tag annonce.image.url(:thumb) unless missing_annonce_image(annonce)  %>      
              </p>
            <% end %>
            <p class="annonce-texte">
              <span class="nom"><%= raw annonce.message %></span> <br/> <%= link_to "voir ...", annonce_path(annonce), :class => "button small" %>
            </p>            
          </div>
        </div>
      <%- end -%>
    <%- end -%>    
  </div>
</div>