<div id="carousel-generic" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">

  </ol>
  <div class="carousel-inner">
    <!-- Actions as annonce -->
    <%- unless @action_as_annonces.empty? -%>
      <% for action in @action_as_annonces %>
        <div class="item">
          <% unless action.illustration.nil? %>
            <%= image_tag action.illustration.url(:thumb) unless missing_manif_illustration(action) %>
          <% end %>
          <div class="carousel-caption">
            <h3>
              <%= link_to(raw(action.nom), uneaction_path(action.id), :class => "nom") %>
            </h3>
            <p class="annonce-texte">
              <span class="lieu-date">
                <%= action.lieu %> du <%=l action.date_debut, :format => :only_date %> au <%=l action.date_fin, :format => :only_date %>    
              </span>
              <%= link_to "voir ...", uneaction_path(action.id), :class => "btn btn-success btn-sm" %>
            </p>
          </div>
        </div>
      <% end %>
    <%- end -%>
    <!-- Annonces -->
    <%- unless annonces_courantes.empty? -%>
      <% for annonce in annonces_courantes %>
        <div class="item">
          <% unless annonce.image.nil? %>
            <%= image_tag annonce.image.url(:thumb) unless missing_annonce_image(annonce)  %>
          <% end %>
          <div class="carousel-caption">
            <h3><%= raw annonce.message %></h3>
            <p class="annonce-texte"><%= link_to "voir ...", annonce_path(annonce), :class => "button small" %></p>
          </div>
        </div>
      <% end %>
    <%- end -%>
  </div>
</div>