  <% annonces = @action_as_annonces + annonces_courantes %>
  <%#= debug annonces %>

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <% annonces.each_with_index do |a, idx| %>
        <li data-target='#carousel-example-generic' data-slide-to="<%= idx %>"></li>
      <% end %>
    </ol>
    <div class="carousel-inner">
      <!-- Actions as annonce -->
      <%- unless annonces.empty? -%>
        <% for annonce in annonces %>
          <div class="item">
            <% if annonce.is_a?(Manifestation) %>
              <% if !annonce.illustration.nil? %>
                <%= image_tag annonce.illustration.url(:thumb) unless missing_manif_illustration(annonce) %>
              <% end %>            
              <div class="carousel-caption">
                <h3>
                  <%= link_to(raw(annonce.nom), uneaction_path(annonce.id), :class => "nom") %>
                </h3>
                <p class="annonce-texte">
                  <span class="lieu-date">
                    <%= annonce.lieu %> du <%=l annonce.date_debut, :format => :only_date %> au <%=l annonce.date_fin, :format => :only_date %>    
                  </span>
                  <%= link_to "voir ...", uneaction_path(annonce.id), :class => "btn btn-success btn-sm" %>
                </p>
              </div>
            <% elsif annonce.is_a?(Annonce) %>
              <% unless annonce.image.nil? %>
                <%= image_tag annonce.image.url(:thumb) unless missing_annonce_image(annonce)  %>
              <% end %>
              <div class="carousel-caption">
                <h3><%= raw annonce.message %></h3>
                <p class="annonce-texte"><%= link_to "voir ...", annonce_path(annonce), :class => "button small" %></p>
              </div>
            <% end %>
          </div>
        <% end %>
      <%- end -%>
    </div>
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>