<div class="pubs">
	<h5>Contacts :</h5>
	<br/>
  <!-- New way of display Contact -->
	 <% @contacts_to_display = Contact.to_display %>
	 <% @contacts_to_display.each do |c| %>
	  <p class="contacts">
	    <b><%= c.role %></b><br/>
	    <b><%= c.nom %></b><br/>
	    <b><%= c.tel %></b><br/>
	    <% unless c.fax == "" || c.fax.nil? %>
				<b><%= c.fax %></b><br/>
			<% end %>
			<%= mail_to(c.mail, "Email") %>
	  </p>
	 <% end %>
	
	<p>

	</p>
</div>