<div class="span-16">
	<%= render :partial => "shared/flash_messages" %>
	
	<div id="bandeau">
	<% if !@actions.blank? %>
		<marquee behavior="slide" direction="left" height="30" loop="10" scrollamount="4" width="610">
		  <% for action in @actions %>
		    <%= action.date_debut.strftime("%d/%m/%Y") %> : <%= action.nom %> <%= lieu(action) %>
		  <% end %>		
		</marquee>
	<% else %>
		<marquee behavior="slide" direction="left" height="30" loop="10" scrollamount="4" width="610">
		"Revenez régulièrement pour consulter les dernières informations."
		</marquee>
	<% end %>
	</div>
	
	<h1>Archipel Guadeloupe</h1>
	<p>
		La Guadeloupe (l’archipel Guadeloupe) se trouve dans la Caraïbe, à l’est de l’Amérique centrale par 16° de latitude nord et 60° de longitude ouest. Elle se situe à 7000 km de la Métropole, et appartient à l’Arc antillais.
	</p>
	<p>En cours de rédaction</p>
    <p>
Cet archipel a une population totale de 400 584 habitants (INSEE janv.2007) et regroupe 5 îles habitées pour une superficie de 1628 km² :
    </p>
    <ul>
        <li>deux îles principales (Grande-Terre et la Basse-Terre) formant la Guadeloupe proprement dite. Elles sont reliées par deux ponts, le pont de la Gabarre et le pont de l’Alliance qui permettent la traversée d’un étroit bras de mer appelé la Rivière Salée</li>
        <li>3 autres îles appelées dépendances (les Saintes, la Désirade, Marie-Galante)</li>
    </ul>           
    <p>
        40 cantons et 32 communes.
    </p>
	<p>&nbsp;</p>
	<p class="mini-diapo">
		<img src="/images/mini-diapo.png">
	</p>
</div>
<div class="span-4 last">
	<%= render :partial => "shared/right_col" %>
</div>