<% content_for :head do %>
<% end %>

<div class="span-16">
	<%= render :partial => "shared/flash_messages" %>
	
  	<%= render :partial => "shared/annonces" %>
		
	<h1><%= @texte.titre if @texte %></h1>
	
	<p><%= simple_format(@texte.content) if @texte %></p>
	
	<% if can? :manage, TexteAccueil %>
		<%= link_to "modifier le texte d'accueil", edit_texte_accueil_path(@texte) if @texte %> |
		<%= link_to "ajouter un texte d'acceuil", new_texte_accueil_path() if @texte.nil? %>
	<% end %>
		
	<p>&nbsp;</p>
	<p class="mini-diapo">
		<img src="/images/mini-diapo.png">
	</p>
	
</div>
<div class="span-4 last">
	<%= render :partial => "shared/right_col" %>
	<p id="counter">
		Nombre de visiteurs<br/>
		<%= @visitors_count %>
	</p>
</div>