<% content_for :head do %>
	<%# stylesheet_link_tag 'facebox.css' %>
	<%# javascript_include_tag 'facebox.js' %>
	<%# unless annonces_courantes.empty? %>
    <!-- <script type="text/javascript" charset="utf-8">
      $(document).ready(function($) {
        $.facebox({div: '#annonces'});
      })
    </script> -->
  <%# end %>
<% end %>

<div class="span-16">
	<%= render :partial => "shared/flash_messages" %>
	
  <%= render :partial => "shared/annonces" %>
	
  <!-- <div id="bandeau">
  <%# if !@actions.blank? %>
    <marquee behavior="slide" direction="left" height="30" loop="10" scrollamount="4" width="610">
      <%# for action in @actions %>
        <%# action.date_debut.strftime("%d/%m/%Y") %> : <%# action.nom %> <%# lieu(action) %> || 
      <%# end %>   
    </marquee>
  <%# else %>
    <marquee behavior="slide" direction="left" height="30" loop="10" scrollamount="4" width="610">
    "Revenez régulièrement pour consulter les dernières informations."
    </marquee>
  <%# end %>
  </div> -->
	
	<h1><%= @texte.titre if @texte %></h1>
	
	<p><%= simple_format(@texte.content) if @texte %></p>
	
	<% if can? :manage, TexteAccueil %>
		<%= link_to "modifier le texte d'accueil", edit_texte_accueil_path(@texte) if @texte %> |
		<%= link_to "ajouter un texte d'acceuil", new_texte_accueil_path() if @texte.nil? %>
	<% end %>
		
	<p>&nbsp;</p>
	<p class="mini-diapo">
		<img src="/images/mini-diapo.png">
	</p>
	
</div>
<div class="span-4 last">
	<%= render :partial => "shared/right_col" %>
	<p id="counter">
		 Nombre de visiteurs <br/>
		<%= @visitors_count %>
	</p>
</div>
  
<% unless annonces_courantes.empty? %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function($) {
      $.facebox({div: '#annonces'});
    })
  </script>
<% end %>