	<%= render :partial => "shared/flash_messages" %>

 	<%= render :partial => "shared/annonces" %>

  <% if @texte %>
		
		<h1 class="section-title"><%= @texte.titre %></h1>
		
		<p><%= raw @texte.content %></p>

	<% end %>
	
	<% if can? :manage, TexteAccueil %>
		<%= link_to "modifier le texte d'accueil", edit_texte_accueil_path(@texte), :class => "btn btn-sm btn-warning" if @texte %> <%= link_to "ajouter un texte d'acceuil", new_texte_accueil_path(), :class => "btn btn-sm btn-success" if @texte.nil? %>
	<% end %>
		
	<p class="mini-diapo">
		<img src="/images/mini-diapo.png">
	</p>