<div class="span-16">
	<h1>Contacts</h1>
	
	<p>
		<b>Email :</b> <%= mail_to("srias.guadeloupe@orange.fr", "srias.guadeloupe@orange.fr") %>		
	</p>
	
	<% @contacts.each do |contact| %>
		<p>
			<b><%= contact.role %> : <%= contact.nom %></b> - Tel : <b><%= contact.tel %></b>
			<% unless contact.fax == "" || contact.fax.nil? %>
				- Fax : <b><%= contact.fax %></b>
			<% end %>
			- Email : <b><%= contact.mail %></b>
		</p>
		<% if can? :manage, Contact %>
		<p>
			<%= link_to "modifier", edit_contact_path(contact) %> | <%= link_to "supprimer", contact_path(contact), :method => :delete %>
		</p>
		<% end %>
	<% end %>

	<% if can? :manage, Contact %>
		<p><%= link_to "Ajouter un contact", new_contact_path() %></p>
	<% end %>
</div>