<div class="span-16">
	<h1 class="section-title">Contacts</h1>
	
<!-- 	<p>
		<b>Email :</b> <1%= mail_to("georges.guillou@guadeloupe.pref.gouv.fr", "georges.guillou@guadeloupe.pref.gouv.fr") %>		
	</p> -->
	
	<% @contacts.each do |contact| %>
		<p>
			<b><%= contact.role if contact.role.present? %> <%= contact.nom if contact.nom.present? %></b>
			<% if contact.tel.present? %>
			 - Tel : <b><%= contact.tel %></b>
			<% end %>
			<% if contact.fax.present? %>
				- Fax : <b><%= contact.fax %></b>
			<% end %>
			<b>Email :</b> <b><%= mail_to(contact.mail, contact.mail) %></b>
		</p>
		<% if can? :manage, Contact %>
		<p>
			<%= link_to "modifier", edit_contact_path(contact), :class => "btn btn-sm btn-warning" %> <%= link_to "supprimer", contact_path(contact), :method => :delete, :class => "btn btn-sm btn-danger" %>
		</p>
		<% end %>
	<% end %>

	<% if can? :manage, Contact %>
		<p><%= link_to "Ajouter un contact", new_contact_path(), :class => "btn btn-sm btn-success" %></p>
	<% end %>

	<div class="form_contact">
		<h3>Formulaire de contact</h3>
		<%= form_for @message do |f| -%>
		  <div class="field">
		  	<%= f.label :nom, "Nom" %><br/>
		  	<%= f.text_field :nom %>
		  </div>
		  <div class="field">
		  	<%= f.label :prenom, "Prenom" %><br/>
		  	<%= f.text_field :prenom %>
		  </div>
		  <div class="field">
		  	<%= f.label :telephone, "Telephone" %><br/>
		  	<%= f.text_field :telephone %>
		  </div>
		  <div class="field">
		  	<%= f.label :portable, "Tel Portable" %><br/>
		  	<%= f.text_field :portable %>
		  </div>
		  <div class="field">
		  	<%= f.label :administration, "Administration d'appartenance" %><br/>
		  	<%= f.text_field :administration %>
		  </div>
		  <div class="field">
		  	<%= f.label :email, "Email" %><br/>
		  	<%= f.text_field :email %>
		  </div>
		  <div class="field">
		  	<%= f.label :demande, "Demande" %><br/>
		  	<%= f.text_area :demande, :rows => "10", :cols =>"80" %>
		  </div>
		  <p>
		  	<%= f.submit "Envoyer", :disable_with => "En cours d'envoi…" %>
		  </p>

		<% end -%>
	</div>
</div>