  <p>
  	<%= f.label :mission_id, "Indiquez dans quelle mission s'inscrit cette action/manifestation" %><br/>
	  <%= f.select :mission_id, Mission.all.collect{|m| [m.nom, m.id]}, {:include_blank => true} %>
  </p>
  <p>
    <%= f.label :nom %><br />
    <%= f.text_field :nom %>
  </p>
  <p>
    <%= f.label :lieu %><br />
    <%= f.text_field :lieu %>
  </p>
  <p>
    <%= f.label :public_concerne, "Public Concerne" %><br/>
    <%= f.select :public_concerne, Manifestation::PUBLIC_CONCERNE, :prompt => "Sélectionner un public" %>
  </p>
  <p>
    <%= f.label :prestataire_id, "Prestataire" %><br/>
    <%= f.collection_select :prestataire_ids, Prestataire.all, :id, :nom, {:prompt => "Sélectionner un/des partenaire(s)"}, :multiple => true %>
  </p>
  <p>
    <%= f.label :date_debut %><br />
    <%= f.datetime_select :date_debut, :order => [:day, :month, :year], :discard_hour => true, :discard_minute => true %>
  </p>
  <p>
    <%= f.label :date_fin %><br />
    <%= f.datetime_select :date_fin, :order => [:day, :month, :year], :discard_hour => true, :discard_minute => true  %>
  </p>
  <p>
    <%= f.label :illustration, "Illustration de la Manifestation - Action" %><br/>
    <%= f.file_field :illustration %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :class => "tinymce", :cols => "90" %>    
  </p>
  <p>
    <%= f.check_box :as_annonce %> : <%= f.label :as_annonce, "Spécifier comme annonce" %>
  </p>

	<% f.fields_for :photos do |photo_form| %>
		<p><%= photo_form.label "Photo" %> : <%= photo_form.file_field :photo %></p>
		<% unless photo_form.object.new_record? %>
		  <%= image_tag(photo_form.object.photo.url(:thumb)) %>
			<%= photo_form.check_box '_destroy' %>
			<%= photo_form.label '_destroy', 'Supprimer' %>
		<% end %>
	<% end %>