<% @manifestations.each do |group_by_year| %>

	<p class="group-by-year">
		<%= link_to "#{group_by_year[0]}", "#", :class =>"hide_show button small midmedium", :alt => "masquer/montrer", :data => {:year => group_by_year[0]} %>
	</p>
	
	<div class="yeargroup manif-resume" data-year="<%= group_by_year[0] %>">
		<% group_by_year[1].group_by(&:mission_id).each do |mission_id, manifestations| %>
			<p class="nom-mission"><%= nom_mission(mission_id).capitalize %></p>
			
			<% manifestations.each do |manifestation| %>
			  <hr/>
				<p class="titre-manif">
					<span class="nom-manif"><%= manifestation.nom.capitalize %></span><br/><%= manifestation.lieu %> du <%=l manifestation.date_debut,:format => :only_date %> au <%= manifestation.date_fin,:format => :only_date %>
				</p>	
				
				<div class="manifestation-desc">
				  <%=raw manifestation.description %>
				</div>
				
				<div class="link-box">
				  <%= manif_or_action_show_link(manifestation, @actions_links) %>

  				<% if can? :update, manifestation %>	
  					<%= link_to 'Modifier', edit_manifestation_path(manifestation), :class => "button small" %> 
  					<%= link_to 'Supprimer', manifestation, :data => {:confirm => 'En êtes vous sur ?'}, :method => :delete, :class => "button small" %>
  				<% end %>

  				<% if can? :modify, manifestation %>
  					<% if manifestation.validate? %>
  					<%= link_to "Retirer", un_validate_manifestation_path(manifestation), :method => :put, :class => "button small" %>
  					<% else %>
  					<%= link_to "Publier", un_validate_manifestation_path(manifestation), :method => :put, :class => "button small" %>
  					<% end %>
  				<% end %>  				
				</div>					

			<%- end -%>
		<% end %>
	</div>
<% end %>

