<div class="span-16">
	<%= render :partial => "shared/flash_messages" %>
	
	<h1>Actions</h1>
	
	<div id="manifs">
		<%= render :partial => 'manifs_list', :object => @manifestations, :locals => {:actions_link => @actions_links} %>
	</div>

	<br />
	<% if can? :create, Manifestation %>
		<%= link_to 'Ajouter une action', new_manifestation_path() %>
	<% end %>
	<% if can? :modify, Manifestation %>
		| <%= link_to_remote "Actions et Manifestations à Valider", :url => pending_manifestations_path(), :update => "manifs" %> : <%= Manifestation.pending.count %> 
	<% end %>
</div>
<!-- Right Sidebar -->
<div class="span-4 last">
	<%= render :partial => "shared/right_col" %>
</div>