<% render :partial => "shared/tinymce_init" %>
<div class="span-16">
	<h1 class="section-title">Modifier Infos Manifestation</h1>

	<%= form_for(@manifestation, :html => {:multipart => true}) do |f| %>
	  	<% if @manifestation.errors.any? %>
	  		<div id="error_explanation">
	  			<h2><%= pluralize(@manifestation.errors.count, "erreur") %> empêchèrent ce formulaire d'être enregistré:</h2>
	  			<ul>
	  				<% @manifestation.errors.full_messages.each do |msg| %>
	  					<li><%= msg %></li>
	  				<% end %>
	  			</ul>
	  		</div>
	  	<% end %>

		<%= render :partial => 'form', :locals => {:f => f} %>

	  <p>
	    <%= f.submit 'Modifier' %>
	  </p>
	<% end %>

	<%= link_to 'Voir', @manifestation, :class => "button small" %>
	<%= link_to 'Retour', manifestations_path, :class => "button small" %>
</div>