<div class="span-16">
	<%= render :partial => "shared/flash_messages" %>
	<h1 class="section-title">Manifestations</h1>

	<div id="manifs">
		<%= render :partial => 'manifs_list', :object => @manifestations %>
	</div>

	<br />
<% if current_user %>
	<%= link_to 'Ajouter une manifestation', new_manifestation_path, :class => "button small medium" %>
<% end %>
<% if can? :modify, Manifestation %>
	<%= link_to "Actions et Manifestations à Valider : #{Manifestation.pending.count}", pending_manifestations_path(), :remote => true, :method => :put, :class => "button small medium" %>
<% end %>
</div>
<!-- Right Sidebar -->
<div class="span-4 last">
	<%= render :partial => "shared/right_col" %>
</div>
