<div class="span-16">
	<h1>L' agenda</h1>

	<% @manifestations.each do |manifestation| %>
		<p>
			<b><%=h manifestation.nom %></b> à <%=h manifestation.lieu %> du <%=h manifestation.date_debut %> au <%=h manifestation.date_fin %><br/> <%=h manifestation.description %> <br/>
		<% if current_user %>	
			<%= link_to 'Modifier', edit_manifestation_path(manifestation) %> |
			<%= link_to 'Supprimer', manifestation, :confirm => 'En êtes vous sur ?', :method => :delete %>
		<% end %>
		</p>
	<% end %>

	<br />
<% if current_user %>
	<%= link_to 'New manifestation', new_manifestation_path %>
<% end %>
</div>
<!-- Right Sidebar -->
<div class="span-4 last">
	Right sidebar
</div>
