<% content_for :head do %>
	<%= javascript_include_tag 'builder', 'lightbox' %>
	<%= stylesheet_link_tag 'lightbox' %>
<% end %>
<div class="span-16">
	<%= render :partial => "shared/flash_messages" %>
	<h1><%=h @manifestation.nom %></h1>

	<p>
	  <b>Lieu:</b>
	  <%=h @manifestation.lieu %>
	</p>

	<p>
	  <b>Date debut:</b>
	  <%=h format_datetime(@manifestation.date_debut) %>
	</p>

	<p>
	  <b>Date fin:</b>
	  <%=h format_datetime(@manifestation.date_fin) %>
	</p>

	<p>
	  <b>Description:</b>
	  <%=simple_format @manifestation.description %>
	</p>
	
	<% if fiche_presente?(@manifestation) && @manifestation.date_debut >= Time.now %>
		<p><%= link_to "Téléchargez fiche jointe (clic droit souris)", @manifestation.fiche.url(nil, false) %></p>
	<% end %>

<% if current_user %>
	<%= link_to 'Modifier', edit_manifestation_path(@manifestation) %> |
<% end %>
	<%= link_to 'Retour', manifestations_path %>
	
	<h5>Gallerie de photos</h5>
	<% unless @manifestation.photos.empty? %>
		<table>
			<tr>
				<% @manifestation.photos.each do |photo| %>
				<td>
					<%= link_to image_tag(photo.photo.url(:thumb)), photo.photo.url(:large), {:rel => "lightbox"} %><br/>
					<% if current_user %>
						<%= link_to "Supprimer", manifestation_photo_path(@manifestation, photo), :method => :delete, :confirm => "Certain ?" %>
					<% end %>
				</td>
				<% end %>
			</tr>
		</table>
	<% else %>
		<p>
			Pas de photos de cette manifestation
		</p>
	<% end %>
	<%= link_to "Ajouter une photo", new_manifestation_photo_path(@manifestation) %>
</div>
<!-- Right Sidebar -->
<div class="span-4 last">
	<%= render :partial => "shared/right_col" %>
</div>
