<% content_for :head do %>
	<%= javascript_include_tag 'builder', 'lightbox' %>
	<%= stylesheet_link_tag 'lightbox' %>
<% end %>
<div class="span-16">
	<%= render :partial => "shared/flash_messages" %>
	
	<h1><%=h @manifestation.nom %></h1>

	<p align="center">
		<% if can? :modify, @manifestation %>
			<% if @manifestation.validate? %>
			<%= link_to "Retirer de la publication", unvalidate_manifestation_path(@manifestation), :method => :put %>
			<% else %>
			| <%= link_to "Publier", validate_manifestation_path(@manifestation), :method => :put %>
			<% end %>
		<% end %>
	</p>
	
	<p>
		<% unless @manifestation.lieu.blank? || @manifestation.lieu.nil? %>
		  <b>Lieu:</b> <%=h @manifestation.lieu %> 
		<% end %>
		<b>Du:</b> <%=h format_datetime(@manifestation.date_debut) %>
		 <b>Au</b> : <%=h format_datetime(@manifestation.date_fin) %>
	</p>
	
	<p>
	  <b>Description:</b>
	  <%=simple_format @manifestation.description %>
	</p>
	
	<% @manifestation.fichiers.each do |fichier| %>
		<p><%= display_link_or_image(fichier) %></p>
	<% end %>

<% if current_user %>
	<%= link_to 'Modifier', edit_manifestation_path(@manifestation) %> |
<% end %>
	<%= link_to 'Retour', manifestations_path %>
	
	<h5>Galerie de photos</h5>
	<% unless @manifestation.photos.empty? %>
		<table>
			<tr>
				<% @manifestation.photos.each do |photo| %>
				<td>
					<%= link_to image_tag(photo.photo.url(:thumb)), photo.photo.url(:large), {:rel => "lightbox"} %><br/>
					<% if current_user %>
						<%= link_to "Supprimer", manifestation_photo_path(@manifestation, photo), :method => :delete, :confirm => "Certain ?" %>
					<% end %>
				</td>
				<% end %>
			</tr>
		</table>
	<% else %>
		<p>Pas de photos de cette manifestation</p>
	<% end %>
	
	<p><%= link_to "Ajouter une photo", new_manifestation_photo_path(@manifestation) %></p>	
	
	<p>
		<%= link_to "Ajoutez un fichier joint", new_manifestation_fichier_path(@manifestation) %> |
		<%= link_to "Modifiez un fichier joint", manifestation_fichiers_path(@manifestation) %>
	</p>
</div>
<!-- Right Sidebar -->
<div class="span-4 last">
	<%= render :partial => "shared/right_col" %>
</div>
