<div class="span-16">
	<p>
	  <b>Nom:</b>
	  <%=h @manifestation.nom %>
	</p>

	<p>
	  <b>Lieu:</b>
	  <%=h @manifestation.lieu %>
	</p>

	<p>
	  <b>Date debut:</b>
	  <%=h @manifestation.date_debut %>
	</p>

	<p>
	  <b>Date fin:</b>
	  <%=h @manifestation.date_fin %>
	</p>

	<p>
	  <b>Description:</b>
	  <%=h @manifestation.description %>
	</p>


	<%= link_to 'Modifier', edit_manifestation_path(@manifestation) %> |
	<%= link_to 'Retour', manifestations_path %>
</div>
<!-- Right Sidebar -->
<div class="span-4 last">
	<%= render :partial => "shared/right_col" %>
</div>
