<div class="manif-details">
	<%= render :partial => "shared/flash_messages" %>
	
	<h1 class="section-title"><%= @manifestation.nom %></h1>

	<p align="center">
		<% if can? :modify, @manifestation %>
			<% if @manifestation.validate? %>
			<%= link_to "Retirer de la publication", un_validate_manifestation_path(@manifestation),
			 :method => :put, :class => "button small midmedium" %>
			<% else %>
			| <%= link_to "Publier", un_validate_manifestation_path(@manifestation), :method => :put, :class => "button small" %>
			<% end %>
		<% end %>
	</p>
	
	<p class="lieu-date">
		<% unless @manifestation.lieu.blank? || @manifestation.lieu.nil? %>
		  <b>Lieu:</b> <%= @manifestation.lieu %> 
		<% end %>
		- <b>Du:</b> <%=l @manifestation.date_debut, :format => :only_date %>
		<b>Au</b> : <%=l @manifestation.date_fin, :format => :only_date %>
	</p>

	<p><%=raw @manifestation.description %></p>

	<% @manifestation.fichiers.each do |fichier| %>
		<p class="link_or_image"><%= display_link_or_image(fichier) %></p>
	<% end %>

<% if current_user %>
	<%= link_to 'Modifier', edit_manifestation_path(@manifestation), :class => "button small" %>
<% end %>

<!-- Galerie de photos  -->
	<% unless @manifestation.photos.empty? %>
	<div id="photos_gallery">
		<table>
			<tr>
				<% @manifestation.photos.each do |photo| %>
				<td>
					<%= link_to image_tag(photo.photo.url(:thumb)), photo.photo.url(:large), :class => "lightbox" %><br/>
					<% if current_user %>
						<%= link_to "Supprimer", manifestation_photo_path(@manifestation, photo), :method => :delete, :confirm => "Certain ?", :class => "button small" %>
					<% end %>
				</td>
				<% end %>
			</tr>
		</table>
	</div>		
	<% end %>

	<% unless @manifestation.prestataires.empty? %>
		<h3>Prestataires</h3>
		<% @manifestation.prestataires.each do |prestataire| %>
		<div class="prestataire">
			<%= image_tag prestataire.logopic.url(:thumb),:width => "60" if prestataire.logopic.present? %>
			<p><%= prestataire.nom %> : <%= prestataire.description %></p>
		</div>
		<% end %>
	<% end %>
	
	<!-- TODO : make ujs -->
  	<script type="text/javascript" charset="utf-8">
		$(function() { $('a.lightbox').lightBox(); })
	</script>
	
	<% if can? :modify, @manifestation %>	
		<p>
			<%= link_to "Ajouter une photo", new_manifestation_photo_path(@manifestation), :class => "button small midmedium" %>
			<%= link_to "Ajoutez un fichier joint", new_manifestation_fichier_path(@manifestation), :class => "button small midmedium" %>
			<%= link_to "Modifiez un fichier joint", manifestation_fichiers_path(@manifestation), :class => "button small midmedium" %>
		</p>
 	<% end %>
 	
 	<p><%= manif_or_action_index_link(@manifestation) %></p>
 	
</div>

