<%= form_for(@information) do |f| %>
  <%= render :partial => 'shared/form_errors', :locals => {:object => @information} %>

  <div class="field">
    <%= f.label :actu_category_id, "Categorie" %><br>
    <%= f.select :actu_category_id, ActuCategory.all.collect{|m| [m.nom, m.id]}, prompt: "Autres" %>
  </div>

  <div class="field">
    <%= f.label :title, "Titre" %><br/>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content, "Contenu" %><br/>
    <%= f.text_area :content, :class => "tinymce", :cols => "90" %>
    <%= tinymce :theme => "modern" %>
  </div>
  <div class="field">
    <%= f.label :information_file, "Fichier joint" %><br/>
    <%= f.file_field :information_file %>
  </div>
  <div class="actions">
    <p><%= f.submit "Enregistrer", class: 'btn' %></p>
  </div>
<% end %>
