<h1 class="section-title">Actualités</h1>

<% @informations.each do |group| %>
  <h4 class="actu-categorie"><%= information_category(group[0]) %></h4>
  <div class="row">
    <% group[1].each do |actu| %>
      <div class="col-sm-3 col-md-3 col-lg-4">
        <div class="thumbnail actu">
          <p class="titre-actu"><%= actu.title %></p>
          <p class="timestamp-actu">
            <%= l actu.created_at, format: :only_date %>
          </p>
          <% if actu.information_file.present? %>
            <div class="link_or_image">
              <%= display_link_or_image_of(actu) %>
            </div>
          <% end %>
          <div class="manifestation-desc">
            <%= raw(truncate_html(actu.content, lenght: 100, omission: '...')) %>
          </div>
          <div class="link-box">
            <%= link_to "Voir", actu %>
            <% if can? :update, actu %>
              <% if actu.published? %>
                <%= link_to "Masquer", publish_information_path(actu), method: :put %>
              <% else %>
                <%= link_to "Publier", publish_information_path(actu), method: :put %>
              <% end %>
              <% if actu.in_right_sidebar? %>
                <p><%= link_to "Retirer de la colonne de droite", sidebar_status_information_path(actu), method: :put %></p>
              <% else %>
                <p><%= link_to "Mettre dans la colonne de droite", sidebar_status_information_path(actu), method: :put %></p>
              <% end %>
              <%= link_to 'Modifier', edit_information_path(actu) %>
              <%= link_to 'Supprimer', actu, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<div class="row">
  <% if can? :update, Information %>
    <%= link_to 'Ajouter une Actualité', new_information_path, :class => "btn btn-success btn-sm" %>
  <% end %>
</div>
