<%= form_for(@prestataire) do |f| %>
  <% if @prestataire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prestataire.errors.count, "erreur") %> empêchèrent ce prestataire d'être enregistré:</h2>

      <ul>
      <% @prestataire.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nom %><br />
    <%= f.text_field :nom %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label "Telephone" %><br />
    <%= f.text_field :tel %>
  </div>
  <div class="field">
    <%= f.label "Mobile" %><br />
    <%= f.text_field :mob %>
  </div>
  <div class="field">
    <%= f.label "Fax" %><br />
    <%= f.text_field :fax %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, cols: "120" %>
  </div>
  <div class="field">
    <%= f.label :logopic, "Logo Prestataire" %>
    <%= f.file_field :logopic %>
  </div>
  <div class="actions">
    <p><%= f.submit "Enregistrer" %></p>
  </div>
<% end %>
