<%= render :partial => "shared/flash_messages" %>

<p>
  <%= image_tag(@prestataire.logopic.url(:thumb)) if @prestataire.logopic.present? %>
</p>

<p>
  <b>Nom:</b>
  <%= @prestataire.nom %>
</p>

<p>
  <b>Website:</b>
  <%= @prestataire.website %>
</p>

<p>
  <b>Tel:</b>
  <%= @prestataire.tel %>
</p>

<p>
  <b>Mob:</b>
  <%= @prestataire.mob %>
</p>

<p>
  <b>Fax:</b>
  <%= @prestataire.fax %>
</p>

<p>
  <b>Description:</b>
  <%= @prestataire.description %>
</p>


<%= link_to 'Modifier', edit_prestataire_path(@prestataire), :class => "button small" %>
<%= link_to 'Retour', prestataires_path, :class => "button small"  %>
