  <%= form_for(@annonce, :html => { :multipart => true } ) do |f| %>
    <%= render :partial => 'shared/form_errors', :locals => {:object => @annonce} %>
    
    <p>
      <%= f.label :message %><br />
      <%= f.text_area :message, :class => "tinymce" %>
      <%= tinymce :theme => "advanced", :language => "fr" %>
    </p>
    <p>
      <%= f.label :starts_at %><br />
      <%= f.datetime_select :starts_at %>
    </p>
    <p>
      <%= f.label :ends_at %><br />
      <%= f.datetime_select :ends_at %>
    </p>
    <p>
      <%= f.label :image, "Image" %><br/>
      <%= f.file_field :image %>
    </p>
    <p>
      <%= f.submit 'Enregistrer' %>
    </p>
  <% end %>