<div class="span-16">
  <h1>Listing des annonces</h1>

  <table>
    <tr>
      <th>Message</th>
      <th>Du</th>
      <th>Au</th>
      <th>Image</th>
    </tr>

  <% @annonces.each do |annonce| %>
    <tr>
      <td><%=h annonce.message %></td>
      <td><%=h annonce.starts_at %></td>
      <td><%=h annonce.ends_at %></td>
      <td><%= image_tag(annonce.image.url(:thumb)) %></td>
      <td><%= link_to 'Voir', annonce %></td>
      <td><%= link_to 'Modifier', edit_annonce_path(annonce) %></td>
      <td><%= link_to 'Supprimer', annonce, :confirm => 'En êtes vous sur?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'Nouvelle Annonce', new_annonce_path %>
</div>
