<div class="span-16">
  <h1 class="section-title">Listing des annonces</h1>

  
  <% @annonces.each do |annonce| %>
    <div class="annonce_item">
      <p><%=raw annonce.message %></p>
      <% unless current_user %>
        <p>Du : <%= annonce.starts_at %></p>
        <p>Au : <%= annonce.ends_at %></p>
      <% end %>
      <p><%= image_tag(annonce.image.url(:thumb)) unless missing_annonce_image(annonce) %></p>
      <p>
        <%= link_to 'Voir', annonce, :class => "btn btn-success btn-sm" %> <% if current_user %> <%= link_to 'Modifier', edit_annonce_path(annonce), :class => "btn btn-sm btn-warning" %> <%= link_to 'Supprimer', annonce, :confirm => 'En êtes vous sur?', :method => :delete, :class => "btn btn-sm btn-danger" %><% end %>
      </p>
    </div>
  <% end %>

  <br />
  
  <%- if current_user -%>
    <%= link_to 'Nouvelle Annonce', new_annonce_path, :class => "btn btn-sm btn-success" %>
  <%- end -%>
</div>
