<div class="span-16">
  <h1>Annonce-<%= @annonce.id %></h1>
  
  <p>
    <b>Message:</b>
    <%=raw @annonce.message %>
  </p>

  <p>
    <b>Date début:</b>
    <%=h @annonce.starts_at %>
  </p>

  <p>
    <b>Date de Fin:</b>
    <%=h @annonce.ends_at %>
  </p>

  <p>
    <b>Image associée</b>
    <%= image_tag(@annonce.image.url(:thumb)) %>
  </p>

  <% if current_user %> <%= link_to 'Modifier', edit_annonce_path(@annonce) %> |<% end %> <%= link_to 'Retour', annonces_path %>
</div>

