<p>
  <b>Message:</b>
  <%=h @annonce.message %>
</p>

<p>
  <b>Starts at:</b>
  <%=h @annonce.starts_at %>
</p>

<p>
  <b>Ends at:</b>
  <%=h @annonce.ends_at %>
</p>

<p>
  <b>Image file name:</b>
  <%=h @annonce.image_file_name %>
</p>

<p>
  <b>Image content type:</b>
  <%=h @annonce.image_content_type %>
</p>

<p>
  <b>Image updated at:</b>
  <%=h @annonce.image_updated_at %>
</p>


<%= link_to 'Edit', edit_annonce_path(@annonce) %> |
<%= link_to 'Back', annonces_path %>