<div class="span-16">
  <h1 class="section-title">Annonce-<%= @annonce.id %></h1>
  
  <b>Message:</b>
  <%=raw @annonce.message %>
  
  <% unless current_user %>
    <p>
      <b>Date début:</b>
      <%= @annonce.starts_at %>
    </p>

    <p>
      <b>Date de Fin:</b>
      <%= @annonce.ends_at %>
    </p>
  <% end %>

  <p>
    <b>Image associée</b>
    <%= image_tag(@annonce.image.url(:thumb)) %>
  </p>

  <% if current_user %> <%= link_to 'Modifier', edit_annonce_path(@annonce), :class => "btn btn-sm" %><% end %> <%= link_to 'Retour', annonces_path, :class => "btn btn-sm" %>
</div>

