<div class="span-16">
	<h1 class="section-title">Enregistrer une photo</h1>
	
	<%= form_for [@manifestation, @photo], :html => {:multipart => true} do |f| -%>
	  	<%= render :partial => 'shared/form_errors',:locals => {:object => @photo} %>
		<p>
			<%= f.file_field :photo %>
		</p>
		<p>
			<%= f.submit "Enregistrer" %>
		</p>
	<% end -%>
	
	<p><%= link_to "Retour à la manifestation", manifestation_path(@manifestation), :class => "button small midmedium" %></p>	
</div>