<div class="span-16">
  <h1 class="section-title"> Cette offre : <b><%=h @offre.nom %></b></h1>

  <p>
    <b>Vous est proposée par :</b>
    <%= @offre.partenaire.nom %>
  </p>

  <p>
    <b>Valable du :</b>
    <%= l(@offre.date_debut, :format => :default) %> <b>Au :</b> <%= l @offre.date_fin, :format => :default %>
  </p>

  <p>
    <b>Description:</b>
    <%= @offre.description %>
  </p>
  
  <!-- TODO : ajouter la possibilité de télécharger le document de l'offre -->
  <% @offre.fichiers.each do |fichier| %>
		<p><%= display_link_or_image(fichier) %></p>
	<% end %>

  <% if current_user %>  
    <p>
  		<%= link_to "Ajoutez un fichier joint", new_offre_fichier_path(@offre), :class => "btn btn-sm btn-success" %>
  		<%= link_to "Modifiez un fichier joint", offre_fichiers_path(@offre), :class => "btn btn-sm btn-warning" %>
  	</p>
  	<p>
  	  <%= link_to 'Modifier', edit_partenaire_offre_path(@partenaire, @offre), :class => "btn btn-sm btn-warning" %>
      <%= link_to 'Retour', partenaires_path(), :class => "btn btn-sm" %>
  	</p>
  <% end %>
</div>
