<div class="span-16">
  <h2>
    Cette offre :
    <b><%=h @offre.nom %></b>
  </h2>

  <p>
    <b>Vous est proposée par :</b>
    <%=h @offre.partenaire.nom %>
  </p>

  <p>
    <b>Valable du :</b>
    <%=h @offre.date_debut %> <b>Au :</b> <%=h @offre.date_fin %>
  </p>

  <p>
    <b>Description:</b>
    <%=h @offre.description %>
  </p>
  
  <!-- TODO : ajouter la possibilité de télécharger le document de l'offre -->

<% if current_user %>
  <%= link_to 'Modifier', edit_offre_path(@offre) %> |
  <%= link_to 'Retour', offres_path %>
<% end %>
</div>
