<div class="span-16">
	<h1>Listing texte_accueils</h1>

	<table>
	  <tr>
	    <th>Contenu</th>
	  </tr>

	<% @texte_accueils.each do |texte_accueil| %>
	  <tr>
	    <td><%= texte_accueil.content %></td>
	    <td><%= link_to 'Voir', texte_accueil %></td>
	    <td><%= link_to 'Modifier', edit_texte_accueil_path(texte_accueil) %></td>
	    <td><%= link_to 'Supprimer', texte_accueil, :confirm => 'En êtes vous sur?', :method => :delete %></td>
	  </tr>
	<% end %>
	</table>

	<br />

	<%= link_to 'Nouveau texte_accueil', new_texte_accueil_path %>
</div>
