<%= render :partial => 'shared/tinymce_init' %>
<div class="span-16">
	<h1 class="section-title">Enregistrer un texte d'accueil</h1>

	<%= form_for(@texte_accueil) do |f| %>
	  <%= render :partial => 'shared/form_errors', :locals => {:object => @texte_accueil} %>

	  <p>
	  	<%= f.label :titre, "Titre" %> : <%= f.text_field :titre %>
	  </p>

	  <p>
	    <%= f.label :content %><br />
	    <%= f.text_area :content, :class => "tinymce", :cols => "90" %>
	    
	  </p>
	  <p>
	    <%= f.submit 'Enregistrer', class; 'btn' %>
	  </p>
	<% end %>

	<%= link_to 'Retour', root_path %>
</div>
