<div class="span-16">
	<h1 class="section-title">Modifier une Mission</h1>

	<%= form_for(@mission) do |f| %>
	  	<%= render :partial => 'shared/form_errors', :locals => {:object => @mission} %>

		<%= render :partial => 'form', :locals => {:f => f} %>

	  <p>
	    <%= f.submit 'Modifier' %>
	  </p>
	<% end %>

	<%= link_to 'Voir', @mission %> |
	<%= link_to 'Retour', missions_path %>
</div>
<!-- Right Sidebar -->
<div class="span-4 last">
	Right sidebar
</div>
