<div class="span-16">
	<h1>Modifier une Mission</h1>

	<% form_for(@mission) do |f| %>
	  <%= f.error_messages %>

		<%= render :partial => 'form', :locals => {:f => f} %>

	  <p>
	    <%= f.submit 'Modifier' %>
	  </p>
	<% end %>

	<%= link_to 'Voir', @mission %> |
	<%= link_to 'Retour', missions_path %>
</div>
<!-- Right Sidebar -->
<div class="span-4 last">
	Right sidebar
</div>
