<div class="span-16">
	<div id="bandeau">
	<% if !@evenements.blank? %>
		<marquee behavior="slide" direction="left" height="30" loop="10" scrollamount="4" width="610">
		  <% for evenement in @evenements %>
		    <%= evenement.date_debut.strftime("%d/%m/%Y") %> : <%= evenement.nom %> <%= lieu(evenement) %>
		  <% end %>		
		</marquee>
	<% else %>
		<marquee behavior="slide" direction="left" height="30" loop="10" scrollamount="4" width="610">
		"Revenez régulièrement pour consulter les dernières informations."
		</marquee>
	<% end %>
	</div>
	
	<h1>Bienvenue</h1>
	
	<p>
		La S.R.I.A.S  assure et coordonne l’action sociale, culturelle et de loisirs dans la fonction publique de l’Etat.  La SRIAS est une instance transversale (inter administration) dont les actions concernent tous les agents de l’Etat en complément de ce que leur offre déjà leur propre administration.
	</p>
	
	<p>
Les missions de la SRIAS sont définies par l’instance nationale (CIAS) et mise en œuvre au niveau régional, ce sont :
	</p>
	<ul>
		<% @missions.each do |mission| %>
			<li><%= mission.nom %> : <%=h mission.description %></li>
		<% end %>
	</ul>
	
	<p>
		L’évaluation du plan annuel régionale d’action sociale et la mise en œuvre des actions de la SRIAS, sont assurées conjointement par un représentant élu des organisations syndicales pour la présidence et par le secrétariat général pour les affaires régionales
	</p>
	
	<p>
		Les actions de la SRIAS doivent :
	</p>
	<ul>
		<li>répondre à des besoins identifiés</li>
		<li>répondre à des besoins nouveaux</li>
		<li>répondre à des besoins collectifs</li>
		<li>avoir une dimension interministérielle</li>
		<li>avoir une dimension régionale</li>
		<li>répondre à des besoins ponctuels ou limités dans le temps</li>
	</ul>
	
<% if current_user %>
	<p><%= link_to 'Nouvelle mission', new_mission_path %></p>
<% end %>	
</div>
<!-- Right Sidebar -->
<div class="span-4 last">
	<%= render :partial => "shared/right_col" %>
</div>
