<%= form_for(@category) do |f| %>
  <%= render :partial => 'shared/form_errors', :locals => {:object => @category} %>
  
  <p>
    <%= f.label :nom %><br />
    <%= f.text_field :nom %>
  </p>
  <p>
    <%= f.submit 'Enregistrer', class: 'btn' %>
  </p>
<% end %>