<div class="span-16">
	<h1>Modifiez l'abonné</h1>

	<%= form_for(@abonne) do |f| %>
	  	<%= render :partial => 'shared/form_errors', :locals => {:object => @abonne} %>

		<%= render :partial => 'form', :locals => {:f => f} %>

	  <p>
	    <%= f.submit 'Modifier' %>
	  </p>
	<% end %>

	<%= link_to 'Voir', @abonne %> |
	<%= link_to 'Retour', abonnes_path %>
</div>
<!-- Right Sidebar -->
<div class="span-4 last">
	<%= render :partial => "shared/right_col" %>
</div>
