<div class="span-16">
	<h1>Modifiez l'abonné</h1>

	<%= form_for(@abonne) do |f| %>
	  	<%= render :partial => 'shared/form_errors', :locals => {:object => @abonne} %>

		<%= render :partial => 'form', :locals => {:f => f} %>

	  <p>
	    <%= f.submit 'Modifier' %>
	  </p>
	<% end %>

	<%= link_to 'Voir', @abonne, :class => "button small" %>
	<%= link_to 'Retour', abonnes_path, :class => "button small" %>
</div>