<div class="span-16">
	<h1>Nouvel Abonné</h1>

	<%= form_for(@abonne) do |f| %>
	  	<%= render :partial => 'shared/form_errors', :locals => {:object => @abonne} %>

		<%= render :partial => 'form', :locals => {:f => f} %>

	  	<p><%= f.submit 'Enregistrer' %></p>
	<% end %>

	<%= link_to 'Retour', abonnes_path, :class => "button small" %>
</div>