<div class="span-16">
	<h1>Agenda</h1>

		<% @evenements.each do |evt| %>
			<p>
				<b><%=h evt.nom %></b> à <%=h evt.lieu %> du <%=h evt.date_debut %> au <%=h evt.date_fin %><br/> <%=h evt.description %> <br/>
			<% if current_user %>	
				<%= link_to 'Modifier', edit_evenement_path(evt) %> |
				<%= link_to 'Supprimer', evenement_path(evt), :confirm => 'En êtes vous sur ?', :method => :delete %>
			<% end %>
			</p>
		<% end %>

		<br />
	<% if current_user %>
		<%= link_to 'Ajouter un evenement', new_evenement_path %>
	<% end %>


</div>
<!-- Right Sidebar -->
<div class="span-4 last">
	<%= render :partial => "shared/right_col" %>
</div>