<!DOCTYPE html>

<html>
<head>
	<title><%= h(yield(:title) || "SRIAS GUADELOUPE") %></title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
	<%= yield(:head) %>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-20205376-2']);
		_gaq.push(['_trackPageview']);
		
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
	<%= csrf_meta_tags %>
	<meta name="google-site-verification" content="hibBM5k3zfL2lM0PGwuSVJcva3BbAGBAnZ-VLqr1PxM" />
</head>

<body>
	<section id="header">
		<header class="container">
			<div id="logo">
				<%= link_to(image_tag("Logov2.png"), root_path) %>
				<p>Section Régionale Interministérielle d'Action Sociale</p>
			</div>
			<div id="vignettes_hd"><%= image_tag("vignettes_hd.jpg") %></div>
		</header>
	</section>

	<section id="content" class="container">
		<article id="left_sidebar">
			<div id="login_box">
				<% if current_user %>
					<%= link_to "#{current_user.login} : Logout", main_app.logout_path(), :class => "button" %> 
				<% else %>
					<%= link_to "Login", main_app.login_path(), :class => "button" %>
				<% end %>
			</div>

			<div class="menus_box">
				<h3 class="h3_hd">Menus</h3>
				<ul>
					<li><%= link_to "Missions", main_app.missions_path() %></li>
					<li><%= link_to "Actions", main_app.actions_path() %></li>
					<li><%= link_to "Manifestations", main_app.manifestations_path() %></li>
					<li><%= link_to "Informations", main_app.informations_path() %></li>
					<li><%= link_to "Partenaires", main_app.partenaires_path() %></li>
					<li><%= link_to "Liens", main_app.liens_path() %></li>
					<li><%= link_to "Forum", forem.root_path %></li>
					<li><%= link_to "Contacts", main_app.contacts_path() %></li>
				</ul>
			</div>

			<% if can? :manage, :all %>
				<div class="menus_box">
					<h3 class="h3_hd">Administration</h3>
					<ul>
					  <li><%= link_to "Annonces", main_app.annonces_path() %></li>
						<li><%= link_to "Newsletter", main_app.newsletters_path() %></li>
						<li><%= link_to "Abonnés", main_app.abonnes_path() %></li>
						<li><%= link_to "Catégories Partenaire", main_app.categories_path() %></li>
						<li><%= link_to "Prestataires", main_app.prestataires_path() %></li>
						<li><%= link_to "Informations", main_app.informations_path() %> </li>
					</ul>
				</div>
			<% end %>

			<div class="menus_box">
				<h3 class="h3_hd">Newsletter</h3>
				<%= form_for @abonne, :url => main_app.abonnes_path, :remote => true do |f| %>					
					<p>
						<%= f.label :email, "Email" %><br/>
						<%= f.text_field :email, :size => 18, :placeholder => "email@address.com" %>
					</p>
					<p><%= submit_tag "S'abonner" %></p>
				<% end %>
				<div id="result" style="display: none;" >
					Vous êtes abonné(e)s !
				</div>
			</div>
		</article>

		<article id="main_content">
			<%= yield %>
		</article>
	</section>

	<section id="footer">
		<article class="container">
			<div id="credits">
				<div>
					Contacts<br/>
					Préfecture de la Guadeloupe<br/> Cellule d'action sociale "SRIAS"<br/>
					Rue Lardenoy 97100 Basse-Terre<br/>
					<%= mail_to "srias.guadeloupe@orange.fr", "srias.guadeloupe@orange.fr" %><br/>0690 39 12 58 - 0590 99 38 81<br/>

					<% if @visitors_count %>
					<p id="counter" class="button"><%= "Nombre de visiteurs : #{@visitors_count}" %></p>
					<% end -%>
				</div>
				<div>
					<% @contacts_to_display = Contact.to_display %>
					<% @contacts_to_display.each do |c| %>
					 <p class="contacts">
					   <%= c.role %><br/>
					   <%= c.nom %><br/>
					   <%= c.tel %><br/>
					   <% unless c.fax == "" || c.fax.nil? %>
								<%= c.fax %><br/>
							<% end %>
							<%= mail_to(c.mail, "Email") %>
					 </p>
					<% end %>
				</div>
				<div class="last">
					<%= image_tag("colibri.png") %>
				</div>
				<p class="footer">
					Conception : <%= link_to "G.MATHURIN", "http://www.gmwebagency.com"%>
				</p>
			</div>
		</article>		
	</section>
  
</body>
</html>
