<!DOCTYPE html>

<html>
<head>
	<title><%= h(yield(:title) || "SRIAS GUADELOUPE") %></title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
	<%= yield(:head) %>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-20205376-2']);
		_gaq.push(['_trackPageview']);
		
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
	<%= csrf_meta_tags %>
</head>

<body>
	<section id="header">
		<header class="container">
			<div id="logo">
				<%= link_to(image_tag("Logov2.png"), root_path) %>
				<p>Section Régionale Interministérielle d'Action Sociale</p>
			</div>
			<div id="vignettes_hd"><%= image_tag("vignettes_hd.jpg") %></div>
		</header>
	</section>

	<section id="content" class="container">
		<article id="left_sidebar">
			<div id="login_box">
				<% if current_user %>
					<%= link_to "#{current_user.login} : Logout", logout_path(), :class => "button" %> 
				<% else %>
					<%= link_to "Login", login_path(), :class => "button" %>
				<% end %>
			</div>

			<div class="menus_box">
				<h3 class="h3_hd">Menus</h3>
				<ul>
					<li><%= link_to "Missions", missions_path() %></li>
					<li><%= link_to "Actions", actions_path() %></li>
					<li><%= link_to "Manifestations", manifestations_path() %></li>
					<li><%= link_to "Partenaires", partenaires_path() %></li>
					<li><%= link_to "Liens", liens_path() %></li>
					<li><%= link_to "Contacts", contacts_path() %></li>
				</ul>
			</div>

			<% if can? :manage, :all %>
				<div class="menus_box">
					<h3 class="h3_hd">Administration</h3>
					<ul>
					  <li><%= link_to "Annonces", annonces_path() %></li>
						<li><%= link_to "Newsletter", newsletters_path() %></li>
						<li><%= link_to "Abonnés", abonnes_path() %></li>
						<li><%= link_to "Catégories Partenaire", categories_path() %></li>
					</ul>
				</div>
			<% end %>

			<div class="menus_box">
				<h3 class="h3_hd">Newsletter</h3>
				<%= form_for @abonne, :url => abonnes_path, :remote => true, :success => "$('result').show()" do |f| %>					
					<p>
						<%= f.label :email, "Email" %><br/>
						<%= f.text_field :email, :size => 15 %>
					</p>
					<p><%= submit_tag "S'abonner" %></p>
				<% end %>
				<div id="result" style="display: none;" >
					Vous êtes abonné(e)s !
				</div>
			</div>
		</article>

		<article id="main_content">
			<%= yield %>
		</article>
	</section>

	<section id="footer">
		<div id="colibri"><%= image_tag("colibri.png") %></div>
		<div id="credits" class="container">
			<p>
			  Contacts<br/>
			  Préfecture de la Guadeloupe Cellule d'action sociale "SRIAS" Rue Lardenoy 97100 Basse-Terre<br/>
			  <%= mail_to "srias.guadeloupe@orange.fr", "srias.guadeloupe@orange.fr" %><br/>0690 39 12 58 - 0590 99 38 81<br/><br/></p>
			<p><pre>Conception : <%= link_to "G.MATHURIN", "http://www.gmwebagency.com"%></pre></p>
		</div>
	</section>
  
</body>
</html>
