<!DOCTYPE html>
<html>
<head>
	<title><%= h(yield(:title) || "SRIAS GUADELOUPE") %></title>
	<%= stylesheet_link_tag "application", :media => "all" %>
	 <%= javascript_include_tag "application" %>
	<%= yield(:head) %>
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-20205376-2']);
		_gaq.push(['_trackPageview']);
		
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
	<%= csrf_meta_tags %>
	<meta name="google-site-verification" content="hibBM5k3zfL2lM0PGwuSVJcva3BbAGBAnZ-VLqr1PxM" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--[if IE] -->
	<style type="text/css">
		div#content { 
			background: transparent;
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#D8FFFFFF,endColorstr=#D8FFFFFF)"; /* IE8 */
      zoom: 1;
		}
	</style>
	<!--[endif] -->
</head>

<body>
	<div id="header">
		<header class="container">
			<div id="logo">
				<%= link_to(image_tag("SRIAS-Logo.png", class: 'img-rounded'), root_path) %>
				<p>Section Régionale Interministérielle d'Action Sociale</p>
			</div>
			<div id="vignettes_hd"><%= image_tag("vignettes_hd.jpg") %></div>
		</header>
	</div>

	<div id="content" class="container">
		<article class="row">
			<!-- Left Sidebar -->
			<div id="left_sidebar" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				<div id="login_box">
					<% if current_user %>
						<%= link_to "#{current_user.login} : Logout", main_app.logout_path(), :class => "btn btn-success btn-block" %> 
					<% else %>
						<%= link_to "Login", main_app.login_path(), :class => "btn btn-success btn-block" %>
					<% end %>
				</div>

				<div class="menus_box">
					<h3><span class="label label-success">Menus</span></h3>
					<ul>
						<li><%= link_to "Missions", main_app.missions_path() %></li>
						<li><%= link_to "Actions", main_app.actions_path() %></li>
						<li><%= link_to "Manifestations", main_app.manifestations_path() %></li>
						<li><%= link_to "Actualités", main_app.informations_path() %></li>
						<li><%= link_to "Fiches Pratiques", main_app.fiche_pratiques_path() %></li>
						<li><%= link_to "Partenaires", main_app.partenaires_path() %></li>
						<li><%= link_to "Liens", main_app.liens_path() %></li>
						<!-- <li><%#= link_to "Forum", forem.root_path %></li> -->
						<li><%= link_to "Contacts", main_app.contacts_path() %></li>
					</ul>
				</div>

				<% if can? :manage, :all %>
					<div class="menus_box">
						<h3><span class="label label-success">Administration</span></h3>
						<ul>
						  <li><%= link_to "Annonces", main_app.annonces_path() %></li>
							<li><%= link_to "Newsletter", main_app.newsletters_path() %></li>
							<li><%= link_to "Abonnés", main_app.abonnes_path() %></li>
							<li><%= link_to "Catégories Partenaire", main_app.categories_path() %></li>
							<li><%= link_to "Prestataires", main_app.prestataires_path() %></li>
							<li><%= link_to "Actualités", main_app.informations_path() %> </li>
							<li><%= link_to "Fiches Pratiques", main_app.fiche_pratiques_path() %></li>
						</ul>
					</div>
				<% end %>

				<div class="menus_box">
					<h3><span class="label label-info">Newsletter</span></h3>
					<%= form_for @abonne, :url => main_app.abonnes_path, :remote => true do |f| %>					
						<p>
							<%= f.label :email, "Email" %><br/>
							<%= f.text_field :email, :size => 18, :placeholder => "email@address.com" %>
						</p>
						<p><%= submit_tag "S'abonner", data: { disable_with: "Vérification de l'adresse" } %></p>
					<% end %>
					<div id="result" style="display: none;" >
						Vous êtes abonné(e)s !
					</div>
				</div>
			</div>
			
			<!-- Main content -->
			<div id="main_content" class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<%= yield %>
			</div>

			<!-- Right sidebar -->
			<div id="right_sidebar" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				<div class="menus_box">
					<h3><span class="label label-success">Actualités</span></h3>
					<ul class="list-unstyled">
						<% @actualites.each do |actu| %>
							<li><%= link_to actu.title, information_path(actu.id) %></li>
						<% end %>
					</ul>
				</div>
			</div>
		</article>
	</div>

	<div id="footer">
		<article class="container">
			<div id="credits" class="row">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					Contacts<br/>
					Préfecture de la Guadeloupe<br/> Cellule d'action sociale "SRIAS"<br/>
					Rue Lardenoy 97100 Basse-Terre<br/>
					<%= mail_to "georges.guillou@guadeloupe.pref.gouv.fr", "georges.guillou@guadeloupe.pref.gouv.fr" %><br/>0690 39 12 58 - 0590 99 38 81<br/>0590 99 38 68

					<% if @visitors_count %>
					<h4>
						<span class="label label-success"><%= "Nombre de visiteurs : #{@visitors_count}" %></span>
					</h3>
					<% end -%>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<% @contacts_to_display = Contact.to_display %>
					<% @contacts_to_display.each do |c| %>
					 <p class="contacts">
					   <%= c.role %><br/>
					   <%= c.nom %><br/>
					   <%= c.tel %><br/>
					   <% unless c.fax == "" || c.fax.nil? %>
							<%= c.fax %><br/>
						<% end %>
							<%= mail_to(c.mail, "Email") %>
					 </p>
					 <p><%= image_tag("marianne.jpg") %></p>
					<% end %>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 last">
					<%= image_tag("colibri.png") %>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4 col-md-4 col-lg-4 col-md-offset-5">
					Conception : <%= link_to "G.MATHURIN", "http://www.gmwebagency.com"%>
				</div>
			</div>
		</article>		
	</div>

</body>
</html>
